<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <div>
            <h1>Soy la pagina de contacto HBS</h1>
        </div>
    </nav>
    {{{body}}}
</body>

</html>